$collapsible-height: 3rem !default;
$collapsible-line-height: $collapsible-height !default;
$collapsible-header-color: #fff !default;
$collapsible-border-color: #ddd !default;
$sidenav-padding: 16px !default;
$sidenav-border-color: #616161;
$collapsible-body-background-color: rgba(255, 255, 255, .2)